/*
couleurs Proxiad
Bleu clair : #43B3FB
Bleu foncé : #23385D
 */

.people_dialog {
    position : relative;
}

.people_dialog__content {
    padding : 0 !important;
}

.people_dialog h1 {
    font-size : 18px;
    color : #23385D;
}

#people_dialog__background {
    background: #23385D url('/resources/images/bg-profile-intro.png') no-repeat center top;
    background-size: cover;
    display : inline-block;
    width : 100%;
    height : 150px;
    position: relative;
}

#people_dialog__background_overlay {
    background-color: rgba(61, 80, 108, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#people_dialog__head #people_dialog__head_img,
#people_dialog__head aside {
    float : left;
    width : 50%;
}

#people_dialog__head #people_dialog__head_img {
    position : relative;
    margin-top : -130px;
    text-transform: uppercase;
}

#people_dialog__head #people_dialog__head_img img {
    height : 200px;
    border-radius : 150px;
    border : 5px solid white;
}

#people_dialog__head #people_dialog__head_img h1 {
    color : black;
    font-size : 22px;
    margin : 0;
}



.people_dialog__content #people_dialog__head,
.people_dialog__content > main {
    padding : 25px;
}

.people_dialog__content label {
    font-weight : bold;
}

.people_dialog__content #people_dialog__head aside {
    background-color : #f1f1f1;
    padding : 20px;
}

.people_dialog__content #people_dialog__head aside h1 {
    font-size : 20px;
    color : #433f3f;
    margin : 0 0 10px 0;
    border-bottom : 1px solid grey;
}




.people_dialog__content > main {
    display : flex;
    flex-wrap: wrap;
}

.people_dialog__content > main > div {
    flex: 1 0 45%;
    margin: 5px;
    min-height: 100px;
}

.people_dialog__content main div .people_dialog__icon {
    display : inline-block;
    margin-right : 10px;
    color : white;
    background-color: #23385D;
    height : 35px;
    width : 35px;
    border-radius : 20px;
    text-align : center;
    line-height: 35px;
}

.people_dialog__content .people_dialog__skill_category h2 {
    font-size : 16px;
    background-color: #8ea2c1;
    color : white;
    margin : 5px;
    padding : 5px 10px;
}

.people_dialog__content .people_dialog__skill_category ul {
    padding : 0 10px;
}
.people_dialog__content .people_dialog__skill_category li {
    padding : 2px 0;
    display : inline-block;
    width : 49%;
}


.people_dialog__content .people_dialog__languages li {
    display : inline-block;
    width : 100px;
}
.people_dialog__content .people_dialog__languages {
    text-align : center;
}
.people_dialog__content .people_dialog__languages .flagIcon {
    display : inline-block;
    width : 40px;
    height : 30px;
    background-size:     cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.flagIcon.allemagne     { background-image: url('/resources/images/icones/allemagne.png'); }
.flagIcon.angleterre    { background-image: url('/resources/images/icones/angleterre.png'); }
.flagIcon.arabie-saoudite { background-image: url('/resources/images/icones/arabie-saoudite.png'); }
.flagIcon.belgique      { background-image: url('/resources/images/icones/belgique.png'); }
.flagIcon.bresil        { background-image: url('/resources/images/icones/bresil.png'); }
.flagIcon.canada        { background-image: url('/resources/images/icones/canada.png'); }
.flagIcon.coree         { background-image: url('/resources/images/icones/coree.png'); }
.flagIcon.egypte        { background-image: url('/resources/images/icones/egypte.png'); }
.flagIcon.france        { background-image: url('/resources/images/icones/france.png'); }
.flagIcon.grece         { background-image: url('/resources/images/icones/grece.png'); }
.flagIcon.inde          { background-image: url('/resources/images/icones/inde.png'); }
.flagIcon.italie        { background-image: url('/resources/images/icones/italie.png'); }
.flagIcon.japon         { background-image: url('/resources/images/icones/japon.png'); }
.flagIcon.klingon       { background-image: url('/resources/images/icones/klingon.jpg'); }
.flagIcon.swaziland     { background-image: url('/resources/images/icones/swaziland.png'); }

.people_dialog__interets li {
    display : inline-block;
    min-width : 120px;
    margin : 5px 10px;
}

.people_dialog__interets li .fa {
    margin : 5px;
    padding : 4px;
    font-size : 18px;
    background-color: #8ea2c1;
    color : white;
    border-radius: 20px;
}

/*
#people_dialog__aside {
    box-sizing: border-box;
    position : absolute;
    right : 0;
    top : 0;
    height : 100%;
    width : 300px;
    padding : 24px;
    background-color: #23385D;
    color : white;
}

#people_dialog__aside label {
    font-weight : bold;
}
*/

