#portfolio_list > main {
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top : 60px;
    position: absolute;
}

#portfolio_list .card {
    flex : 0 1 250px;
    margin : 20px;
}
#portfolio_list .card h1 {
    font-size : 18px;
    text-align : center;
    margin-top : 0;
}
#portfolio_list .card ul {
    list-style-type : none;
    margin : 0;
    padding : 0;
    font-size : 13px;
    font-family: Arial, serif;
}
