.special_people_dialog__scrollBody {
    background-color : black !important;
    height : 600px;
    color : #00c200;
    font-family: Courier New, serif;
    border-radius : 15px;
}

.special_people_dialog__scrollBody header {
    color : black;
    padding : 2px;
    font-weight : bold;
    text-align : center;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

}

::-webkit-input-placeholder {color: tomato}
::-moz-placeholder          {color: tomato;} /* Firefox 19+ */
:-moz-placeholder           {color: tomato;} /* Firefox 18- */
:-ms-input-placeholder      {color: tomato;}
.special_people_dialog__scrollBody main {
    padding : 5px;
    overflow: auto;
}

.special_people_dialog__scrollBody input {
    width: 750px;
    background: transparent;
    border: none;
    color : #00ff00;
    font-family: Courier New, serif;
    font-size : 16px;
    outline: none;
}

.special_people_dialog__scrollBody .errorCommand { color : #ff2828  !important; }

.special_people_dialog__scrollBody .list_command_table {
    border-collapse: collapse;
}
.special_people_dialog__scrollBody .list_command_table td {
    padding-right : 30px;
}

.special_people_dialog__scrollBody .lock_status {
    display: inline-block;
    color: black;
    border-radius: 4px;
    width: 80px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    font-weight: bolder;
}

.special_people_dialog__scrollBody .lock_status.locked { background-color : #ff9d33; }
.special_people_dialog__scrollBody .lock_status.unlocked { background-color : #00ff00; }

.special_people_dialog__scrollBody .fa-lock,
.special_people_dialog__scrollBody .fa-unlock {
    width : 25px;
}